@import url('https://fonts.cdnfonts.com/css/switzer');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}           
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    
    --bs-pink: #F34278;
    --bs-light-dark: #5a696a80;
    --sidebar-bg-color: #F9F9F9;
    --bs-secondary-gray: #808D96;
    --green-secondary: #46BAAD;
    --heading-color: #5A696A;
    --bs-secondary-pink: #FF99B8;
    --bs-red-pink: #F66893;;
    --gray-white-color: #B9BFC0;
    --d3-color: #C1C7C7;
    --bs-white: #FFF;
    --border-color: #E0E3E3;
    --bg-light-pink:#FFF5F8;
    --bs-green: #18a999cc;
    --bs-red: #f34278cc;

    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    /* padding */
    --spacing-0: 0rem; /* 0 */
    --spacing-1: 0.25rem; /* 4px */
    --spacing-1_5: 0.375rem; /* 6px */
    --spacing-2: 0.5rem; /* 8px */
    --spacing-2_5: 0.625rem; /* 10px */
    --spacing-3: 0.75rem; /* 12px */
    --spacing-3_5: 0.875rem; /* 14px */
    --spacing-4: 0.875rem; /* 16px */
    --spacing-4_5: 1.125rem; /* 18px */
    --spacing-5: 1.25rem; /* 20px */
    --spacing-5_5: 1.375rem; /* 22px */
    --spacing-6: 1.5rem; /* 24px */
    --bs-gutter-x: 1.5rem; /*24px*/
    --spacing-6_5: 1.625rem; /* 26px */
    --spacing-7: 1.75rem; /* 28px */
    --spacing-7_5: 1.875rem; /* 30px */
    --spacing-8: 2rem; /* 32px */
    --spacing-8_5: 2.125rem; /* 34px */
    --spacing-9: 2.25rem; /* 36px */
    --spacing-9_5: 2.375rem; /* 38px */
    --spacing-10: 2.5rem; /* 40px */
    --spacing-10_5: 2.625rem; /* 42px */
    --spacing-13: 3.25rem; /* 52px */

    /* font size */
    --font-size-h1: 2rem; /* 32px */
    --font-size-h2: 1.5rem; /* 24px */
    --font-size-h3: 1.375rem; /* 22px */
    --font-size-h4: 1.25rem; /* 20px */
    --font-size-h5: 1.125rem; /* 18px */

    /* --font-size-h6: rem; px
    --font-size-p: rem; px */
    
    --font-body-size: 1rem; /* 16px */
    --font-size-medium: 0.875rem; /* 14px */
    --font-size-small: 0.75rem; /* 12px */

    /* size */
    --sidebar-width: 256px;

    /* Scrollbar */
    --scroll-thumb-bg: rgba(204, 204, 204, 0.80);
    --scroll-thumn-size: 6px;
    --scrollnbar-radius: 40px;
    --bs-gray: #6c757d;

}

/* font size */
.font-18{
    font-size: var(--font-size-h5) !important;
}
.font-16{
    font-size: var(--font-body-size) !important;
}
.font-14{
    font-size: var(--font-size-medium) !important;
}
.font-12{
    font-size: var(--font-size-small);
}
    
h1, h2, h3, h4, h5, h6{
    margin: var(--spacing-0);
    color: var(--heading-text);
}
p{
    padding: var(--spacing-0) !important;
    margin: var(--spacing-0) !important;
}

h1{
    font-size: var(--font-size-h1) !important;
}
h2{
    font-size: var(--font-size-h2) !important;
}
h3{
    font-size: var(--font-size-h3) !important;
}
h4{
    font-size: var(--font-size-h4) !important;
}
h5{
    font-size: var(--font-size-h5) !important;
}


/* padding */
.spacing-0{
    padding: var(--spacing-0) !important;
}
.pb-spacing-1{
    padding-bottom: var(--spacing-1) !important;
}
.ps-spacing-2{
    padding-left: var(--spacing-2) !important;
}
.pt-spacing-2{
    padding-top: var(--spacing-2) !important;
}
.pt-spacing-3{
    padding-top: var(--spacing-3) !important;
}
.py-spacing-3{
    padding-top: var(--spacing-3) !important;
    padding-bottom: var(--spacing-3) !important;
}
.py-spacing-3_5{
    padding-top: var(--spacing-3_5) !important;
    padding-bottom: var(--spacing-3_5) !important;
}
.px-spacing-3_5{
    padding-left: var(--spacing-3_5) !important;
    padding-right: var(--spacing-3_5) !important;
}
.px-spacing-3{
    padding-left: var(--spacing-3) !important;
    padding-right: var(--spacing-3) !important;
}
.pb-spacing-4{
    padding-bottom: var(--spacing-4) !important;
}
.py-spacing-4{
    padding-top: var(--spacing-4) !important;
    padding-bottom: var(--spacing-4) !important;
}
.px-spacing-4{
    padding-left: var(--spacing-4) !important;
    padding-right: var(--spacing-4) !important;
}
.px-spacing-4_5{
    padding-left: var(--spacing-4_5) !important;
    padding-right: var(--spacing-4_5) !important;
}
.py-spacing-4_5{
    padding-top: var(--spacing-4_5) !important;
    padding-bottom: var(--spacing-4_5) !important;
}
.py-spacing-5{
    padding-top: var(--spacing-5) !important;
    padding-bottom: var(--spacing-5) !important;
}
.pt-spacing-5{
    padding-top: var(--spacing-5) !important;
}
.pb-spacing-6{
    padding-bottom: var(--spacing-6) !important;
}
.px-spacing-6{
    padding-left: var(--spacing-6) !important;
    padding-right: var(--spacing-6) !important;
}
.px-spacing-8{
    padding-left: var(--spacing-8) !important;
    padding-right: var(--spacing-8) !important;
}
.py-spacing-8{
    padding-top: var(--spacing-8) !important;
    padding-bottom: var(--spacing-8) !important;
}
.pb-spacing-8{
    padding-bottom: var(--spacing-8) !important;
}
.py-spacing-9{
    padding-top: var(--spacing-9) !important;
    padding-bottom: var(--spacing-9) !important;
}
.px-spacing-10{
    padding-left: var(--spacing-10) !important;
    padding-right: var(--spacing-10) !important;
}
.px-spacing-13{
    padding-left: var(--spacing-13) !important;
    padding-right: var(--spacing-13) !important;
}

/* margin */
.me-spacing-1_5{
    margin-right: var(--spacing-1_5) !important;
}
.me-spacing-2_5{
    margin-right: var(--spacing-2_5) !important;
}
.ms-spacing-3{
    margin-left: var(--spacing-3) !important;
}
.ms-spacing-3_5{
    margin-left: var(--spacing-3_5) !important;
}
.mt-spacing-4_5{
    margin-top: var(--spacing-4_5) !important;
}
.mb-spacing-7{
    margin-bottom: var(--spacing-7) !important;
}
.mb-spacing-8{
    margin-bottom: var(--spacing-8) !important;
} 
.ml-spacing-10_5{
    margin-left: var(--spacing-10_5) !important;
}


/* raidus */

.rounded-20{
    border-radius: 20px !important;
}
.rounded-16{
    border-radius: 16px !important;
}
.rounded-14{
    border-radius: 14px !important;
}
.rounded-12{
    border-radius: 12px !important;
}
.rounded-10{
    border-radius: 10px !important;
}
.rounded-5{
    border-radius: 5px !important;
}
.border{
    border: 1px solid var(--border-color) !important;
}
.border-top{
    border-top: 1px solid var(--border-color) !important;
}
.border-right{
    border-right: 1px solid #DDD !important;
}
a{
    text-decoration: none;
}
.opacity-0-8{
    opacity: 0.8 !important;
}
.opacity-0-7{
    opacity: 0.7 !important;
}
.opacity-0-4{
    opacity: 0.4 !important;
}
.white-space-nowrap{
   white-space: nowrap; 
}

/* color  */
.bs-secondary-gray{
    color: var(--bs-secondary-gray) !important;
}
.gray-white-color{
    color: var(--gray-white-color) !important;
}
.heading-color{
    color: var(--heading-color) !important;
}
.bs-light-dark{
    color: var(--bs-light-dark) !important;
}
.bs-white{
    color: var(--bs-white) !important;
}
.bs-pink{
    color: var(--bs-pink) !important;
}
.bg-light-pink{
    background-color: var(--bg-light-pink) !important;
}
.d3-color{
    color: var(--d3-color) !important;
}
.liniar-pink-color{
    background: var(--Chill-red, linear-gradient(180deg, #FF99B8 -84.37%, #F34278 178.12%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.bg-liniar-pink-color{
    background:  linear-gradient(180deg, #FF99B8 -84.37%, #F34278 178.12%) !important;
}
.bg-light{
    background-color: var(--sidebar-bg-color)!important;
}
.bs-green{
    background-color: var(--bs-green);
}
.bs-red{
    background-color: var(--bs-red);
}

/* scrolbar style */
::-webkit-scrollbar {
    width: var(--scroll-thumn-size);
    height: var(--scroll-thumn-size);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bg);
    border-radius: var(--scrollnbar-radius);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray);
}

/* white btn */
.white-btn{
    border: 1px solid var(--bs-secondary-pink) !important;
    background-color: var(--bs-white) !important;
    transition: all linear 0.3s !important;
    white-space: nowrap;
}
.white-btn span{
    font-weight: 400;
    background: linear-gradient(180deg, #FF99B8 -84.37%, #F34278 178.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.white-btn:hover span{
    background: linear-gradient(180deg, #FFF -84.37%, #FFF 178.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.white-btn:hover{
    color: var(--bs-white)!important;
    background: linear-gradient(180deg, #FF99B8 -84.37%, #F34278 178.12%) !important;
}
.white-btn:hover svg path{
    fill: var(--bs-white) !important;
}

/* pink button */

.pink-btn{
    color: var(--bs-white)!important;
    border: 1px solid var(--bs-secondary-pink) !important;
    background: linear-gradient(180deg, #FF99B8 -84.37%, #F34278 178.12%) !important;
    transition: all linear 0.3s !important;
    white-space: nowrap;
}
.pink-btn:hover{
    background: linear-gradient(180deg, #f1adc2 -84.37%, #af1846 178.12%) !important;
}

/*========== sidebar ==========*/

.sidebar{
    background-color: var(--sidebar-bg-color);
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    height: 100vh;
}

.sidebar-nav{
    height: calc(100vh - 136px);
    overflow: auto;
}
.sidebar-nav ul{
    padding: 0;
    list-style: none;
}
.sidebar-nav ul li a{
    font-size: var(--font-body-siz);
    color: var(--gray-white-color);
    border-left: 3px solid transparent;
    position: relative;
}
.sidebar-nav ul li a::before{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 3px;
    height: 20px;
    background-color: transparent;
    border-radius: 12px;
}


.sidebar-nav ul li a:hover{
    color: var(--bs-secondary-pink);
}

.sidebar-nav ul li a:hover::before{
    background: linear-gradient(101deg, #FF9BBA 0%, #F34278 100%);
}

.sidebar-nav ul li a:hover svg path{
    fill: var(--bs-secondary-pink);
}

.sidebar-nav ul li a:active{
    color: var(--bs-secondary-pink);
}
.sidebar-nav ul li a:active::before{
    background: linear-gradient(101deg, #FF9BBA 0%, #F34278 100%);
}
.sidebar-nav ul li a:active svg path{
    fill: var(--bs-secondary-pink);
}


/*======== header ======== */

.main{
    min-height: 100vh;
    min-width: 0;
    transition: all 0.35s ease-in-out;
    width: 100%;
    position: relative;
}
/* seahch input */
.search{
    border: 1px solid var(--border-color);
}
.search input{
    width: calc(100% - 38px);
}
.search input:focus{
    outline: none;
}

input{
    color: rgba(90, 105, 106, 0.50) !important;
    font-size: var(--font-size-medium)!important;
}
input::placeholder{
    color: rgba(90, 105, 106, 0.50) !important;
}
.input-group>.form-control:focus{
    box-shadow: none;
    border-color: var(--bs-green) !important;
}

/* card */

.card{
    overflow: hidden;
    box-shadow: 0px 8px 24px 0px rgba(90, 105, 106, 0.08);
    border-radius: 20px;
}


/* header */
.header .notification .notification-btn{
    border: 1px solid var(--border-color);
    width: 40px;
    height: 40px;
    line-height: 38px;
}
.header .admin-profile button{
    width: 38px;
    height: 38px;
}
.header .admin-profile button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.no-arrow::after{
    display: none;
}


.notification-dropdown .dropdown-menu{
    left: unset;
    right: 0;
    top: 29px;
}
.admin-profile-dropdown .dropdown-menu{
    left: unset;
    right: 0;
}

/* ============= content-container ============== */

.content{
    max-height: calc(100vh - 140px);
    min-width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 !important;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}


/* ====================== food star place ====================== */



.scrollable-area{
    overflow: auto;
}
.scrollable-area table{
    min-width: 1000px;
}
.table{
    --bs-table-color-state: var(--heading-text);
    --bs-table-hover-color: var(--heading-text);
    margin-bottom: 0;
}

.table>:not(caption)>*>* {
    padding: var(--spacing-4) var(--spacing-3_5);
    vertical-align: middle;
}

table th{
    white-space: nowrap;
}
table td {
    min-width: 100px;
    max-width: 300px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .scrollable tbody{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.scrollable thead, 
.scrollable tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
} */

/*===== input switch =====*/
.form-check-input:checked {
    background-color:  Green;
    outline: none;
}
.form-check-input:focus{
    box-shadow: none;
    /* background: #E0E3E3; */
    border-color: #E0E3E3;
}
.form-check-input:checked:focus{
    box-shadow: none;
}




/*=============================== responcive device ===============================*/

/* x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .lg-mt-4{
        margin-top: var(--spacing-6) !important;
    }
}

/* medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .search-dropdown .dropdown-menu{
        left: -77px;
    }
    .notification-dropdown .dropdown-menu{
        left: -106px;
        top: 33px;
    }
    .admin-profile-dropdown .dropdown-menu{
        left: -132px;
        top: 40px;
    }
    .md-mt-4{
        margin-top: var(--spacing-6) !important;
    }
    .px-md-spacing-5{
        padding-left: var(--spacing-5)!important;
        padding-right: var(--spacing-5)!important;
    }
    
}

/* small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .search-dropdown button{
        padding: 4px!important;
    }
    .admin-profile-dropdown button img{
        width: 30px;
    }
    .search-dropdown .dropdown-menu{
        left: -77px;
    }
    .notification-dropdown .dropdown-menu{
        left: -106px;
        top: 29px;
    }
    .admin-profile-dropdown .dropdown-menu{
        left: -132px;
        top: 32px;
    }
    
    .sm-mt-4{
        margin-top: var(--spacing-6);
    }
    
}

/* x-small devices (portrait phones, less than 576px)  */
@media (max-width: 590px) {
    .search-dropdown .dropdown-menu{
        left: -77px;
    }
    .notification-dropdown .dropdown-menu{
        left: -106px;
        top: 29px;
    }
    .admin-profile-dropdown .dropdown-menu{
        left: -132px;
        top: 32px;
    }
    
}